<div class="container">
<div class="card">
  <div class="card-header"  >
    <a style="font-size: large; font-weight: bold;" >{{pageTitle}}</a> 
  </div>
  <div class="card-body">
    <form  (ngSubmit)="onclick()" [formGroup]="customerForm">

      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label" for="customerName">Name:</label>
        <div class="col-md-8">
          <input class="form-control" id="customerName" type="text" placeholder="Enter Your Name (required)"
            formControlName="customerName"
            [ngClass]="{'is-invalid':(customerForm.get('customerName').touched || customerForm.get('customerName').dirty) && !customerForm.get('customerName').valid}" />
          <span class="invalid-feedback">
            <span *ngIf="customerForm.get('customerName').errors?.required">Please enter your Name.</span>
            <span *ngIf="customerForm.get('customerName').errors?.minlength">The Name must be more than 3
              characters.</span>
          </span>
        </div>
      </div>

    
        <div class="form-group row mb-2">
          <label class="col-md-3 col-form-label" for="customerEmail">Email Id:</label>
          <div class="col-md-8">
            <input class="form-control" id="customerEmail" type="email" placeholder="Enter Your Email-Id (required)"
              formControlName="customerEmail"
              [ngClass]="{'is-invalid':(customerForm.controls.customerEmail.touched || customerForm.controls.customerEmail.dirty) && !customerForm.controls.customerEmail.valid}" />
            <span class="invalid-feedback">
              <span *ngIf="customerForm.controls.customerEmail.errors?.required">Please enter your
                Email id.</span>
            </span>
          </div>
        </div>

        
    

      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label" for="customerNum">Mobile Number:</label>
        <div class="col-md-8">
          <input class="form-control" id="customerNum" type="text" placeholder="Enter Your Mobile Number (required)"
            formControlName="customerNum"
            [ngClass]="{'is-invalid':(customerForm.get('customerNum').touched || customerForm.get('customerNum').dirty) && !customerForm.get('customerNum').valid}" />
          <span class="invalid-feedback">
            <span *ngIf="customerForm.get('customerName').errors?.required">Please enter your mobile Number.</span>
          </span>
        </div>
      </div>



      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label pt-0">Gender:</label>
        <div class="col-md-4">
          <label class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="Male" formControlName="gender">Male
          </label>
        </div>
        <div class="col-md-4">
          <label class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="Female" formControlName="gender">Female
          </label>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label" for="rattingId">Ratting:</label>
        <div class="col-md-8">
          <input class="form-control" id="rattingId" type="number" placeholder="Give Rating between 1 to 5"
            formControlName="ratting" [ngClass]="{'is-invalid' : (customerForm.get('ratting').touched ||
                                                           customerForm.get('ratting').dirty) &&
                                                           !customerForm.get('ratting').valid}" />
          <span class="invalid-feedback">
            <span *ngIf="customerForm.get('ratting').errors?.range">
              Please rate your experience from 1 to 5.
            </span>
          </span>
        </div>
      </div>


      <div class="form-group row mb-2">
        <div class="col-md-8">
          <div class="form-check">

            <button *ngIf="isButtonVisible" style="position :absolute; margin-top:35px; margin-left: 0px;"
              class="btn btn-outline-primary"  (click)="isButtonVisible = false" (click)="addAddress()"  (click)="condition=true" type="button">+
              Add Address
            </button>
          </div>
        </div>
      </div>
      <br>
      <div *ngIf="condition">

        <div formArrayName="addresses" style="padding-top: 50px;" *ngFor="let address of addresses.controls; let i=index">
        
          <div [formGroupName]="i">
            <div class="form-group row mb-2">
              <label class="col-md-3 col-form-label ">Address Type</label>
              <div class="col-md-8">

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input"  type="radio" [value]="0"
                      formControlName="addressType"> Home
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input"  type="radio" [value]="1"
                      formControlName="addressType"> Work
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input"  type="radio" [value]="2"
                      formControlName="addressType"> Other
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-3 col-form-label" attr.for="{{'street1Id' + i}}">Street Address 1*</label>
              <div class="col-md-8">
                <input class="form-control" id="{{ 'street1Id' + i }}" type="text" placeholder="Street address"
                  formControlName="street1">
                <div *ngIf="address.controls.street1.touched && address.controls.street1.invalid ">
                  <div *ngIf="address.hasError('required', 'street1')"><span style="color : red;">Please enter Street
                      Address</span></div>
                </div>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-3  col-form-label" attr.for="{{'street2Id' + i}}">Street Address 2</label>
              <div class="col-md-8">
                <input class="form-control" id="{{ 'street2Id' + i }}" type="text"
                  placeholder="Street address (second line)" formControlName="street2">
              </div>
            </div>
            <br>


            <div class="form-group row mb-2">
              <div class="col-md-4">
                <label class="col col-form-label" for="cityId">City*</label>
                <input class="form-control" id="cityId" type="text" placeholder="City" formControlName="city">
                <div *ngIf="address.controls.city.touched && address.controls.city.invalid ">
                  <div *ngIf="address.hasError('required', 'city')"><span style="color : red;">Please enter City
                      name</span></div>
                </div>
              </div>
              <div class="col-md-4">
                <label class="col col-form-label" for="cityId">District*</label>
                <select class="form-control" id="districtId" formControlName="district">
                  <option value="" disabled selected hidden>Select a District...</option>
                  <option value="AH">Ahmedabad</option>
                  <option value="RJ">Rajkot</option>
                  <option value="BD">Baroda</option>
                  <option value="ST">Surat</option>
                  <option value="SN">Surendranagar</option>
                  <option value="GN">Gandhinagar</option>
                  <option value="BV">Bavla</option>

                </select>
                <div *ngIf="address.controls.district.touched && address.controls.district.invalid ">
                  <div *ngIf="address.hasError('required', 'district')"><span style="color : red;">Please Select
                      District</span></div>
                </div>
              </div>
              <div class="col-md-4">
                <label class="col col-form-label" for="cityId"> Pin Code*</label>
                <input class="form-control" id="pinCode" type="integer" pattern="[0-9]*" placeholder="pin Code"
                  formControlName="pinCode">
                <div *ngIf="address.controls.pinCode.touched && address.controls.pinCode.invalid ">
                  <div *ngIf="address.hasError('required', 'pinCode')"><span style="color : red;">Please enter
                      Pincode</span></div>
                  <div *ngIf="address.hasError('minlength', 'pinCode')"><span style="color : red;">Please enter 6 digit
                      Pincode</span></div>
                  <div *ngIf="address.hasError('maxlength', 'pinCode')"><span style="color : red;">Please enter 6 digit
                      Pincode</span></div>
                  <div *ngIf="address.hasError('pattern', 'pinCode')"><span style="color : red;">Enter Numbers only</span>
                  </div>

                </div>

              </div>
              <div class="col-md-4">
                <button style="position :absolute; margin-left: 850px; margin-top: 28px; "
                  class="btn btn-outline-primary"  type="button" (click)="resetAddress(i)">
                  --reset Adreess Form
                </button>
              </div>
            </div>
          </div>
             
          <br>
        </div>

        <div class="form-group row mb-2">
          <div class="col-md-4">
            <button class="btn btn-outline-primary" type="button" (click)="addAddress()">
              + Add Address
            </button>
          </div>

        </div>

      </div>



      <br><br>

      <div class="form-group row mb-2">
        <div class="offset-md-4 col-md-4">
          <button class="btn btn-primary mr-3"  type="submit" [disabled]="!customerForm.valid" style="width:80px">submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>